// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.group-buttons{
 
  a{
   /* @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border); */
   color: #fff;
  }
} 

.group-buttons > div {
  float: left;
  clear: right;
  @include rem(margin, 0 0 5px 0);
  a {
    @include rem(margin, 0 5px 0 0);
  }
}

/************************/
/* TAB/PILL NAVIGATION */
/**********************/

ul.nav-pills {
  /* background: $lighter-grey; */
  font-family: $header-font-stack;
  text-transform: uppercase;
}

.nav-pills>li>a {
  border-radius: 0;
  color: $text-color;
  @include on-event {
  	background: none;
  	background-color: transparent;
  }
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
  color: $text-color;
  background: none;
}


.nav-pills>li>a.active {
  background: none;
  border-bottom: 5px solid $user-color;
}



/*********/
/* TABS */
/*******/

.nav-tabs>li>a.active {
  color: $text-color;
}

