// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/*******************************/
/* General navigation theming */
/*****************************/

.navbar-default {
  border: none;
}

.navbar > .container {
  position: relative;
  @include respond-to(small) {
    min-height: inherit;
    padding-bottom: 0;
  }
}

.navbar-header {
  width: 20%;
  float: left;
  align-self: center;
  @include respond-to(small) {
    width: 100%;
  }
}

@include respond-to(small) {
  .container>.navbar-header {
    @include rem(padding, 0 0 15px 0); 
    @include rem(margin, 0 0 0 0);
  }

  /* toggle button for responsive menu */
  .navbar-toggle {
    @include rem(margin, 15px 0 0 0);
  }

  /* nav menu for small devices */

  ul.navbar-nav {
    float: left;
    font-family: $text-font-stack;
    font-weight: normal;
    width: 100%;
    text-transform: lowercase;
    @include rem(margin, 0 0 20px 0);
    li.leaf {
      @include rem(padding, 10px 10px 10px 10px);
      border-bottom: 1px solid darken($light-grey, 10%);
      width: 100%;
      @include on-event {
        background: $light-grey;
      }
      a.active-trail {
        background: none;
        border: none;
        color: inherit;
      }
    }
    li.last {
      border-bottom: none;
    }
    li.active-trail {
      background: $light-grey;
      font-weight: bold;
    }
  }

  /* responsive menu for page user & groups */

  .page-user:not(.page-user-edit) .container-fullwidth.row2, 
  .node-type-futurium-group .container-fullwidth.row2 {
    background: none;
  }
}

.navbar {
  margin-bottom: 0;
  font-family: $header-font-stack;
  text-transform: uppercase;
  .navbar-collapse {
    float: right;
    width: 80%;
    align-self: flex-end;
    @include rem(margin, 20px 0 0 0);
    @include rem(padding, 0 0 0 15px);
    @include respond-to(small) {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      float: left;
    }
  }

  .navbar-nav li>a {
    @include rem(font-size, 18px);
    @include rem(line-height, 50px);
    @include rem(padding, 0px 20px 0px 20px);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &:before {
      width: 30px;
    }
    @include respond-to(small) {
      @include rem(line-height, 24px); 
      @include rem(padding, 0);
    }
  }
  .glyphicon-user:before {
    content: none;
  }
  li.futures {
    @include menu($future-color, rocket);
  }
  li.ideas {
    @include menu($idea-color, lightbulb-o);
  }
  li.library {
    @include menu($library-color, file-text-o);
  }
  li.events {
    @include menu($event-color, calendar);
  }
  li.login {
    @include menu(darken($user-color, 20%), user);
  }
  li.stats {
    @include menu($mid-grey, pie-chart);
  }
  li.my-account {
    margin-top: -5px;
  }
}



.logged-in.page-node{
  li.futures {
    @include menu(darken($future-color, 20%), rocket);
  }
  li.ideas {
    @include menu(darken($idea-color, 20%), lightbulb-o);
  }
  li.library {
    @include menu(darken($library-color, 20%), file-text-o);
  }
  li.events {
    @include menu(darken($event-color, 20%), calendar);
  }
  li.login {
    @include menu(darken($user-color, 20%), user);
  }
  li.stats {
    @include menu(darken($event-color, 20%), pie-chart);
  }
}



.logged-in-user-pic {
  @include round-userpicture;
}

/*************************/
/* Alignment navigation */
/***********************/

.navbar-nav {
  margin-bottom: -3px;
  z-index: 100;
  position: relative;
  float: right;
}


/******* */
/* LOGO & */
/***** */

.navbar .logo {
  margin-left: 0;
  @include respond-to(small) {
      width: 50%;
  }
}

.navbar-brand {
  @include rem(font-size, 24px);

}

.logo {
  @include rem(margin, 15px 0 15px 0);
}

/*********************************/
/* Brand theming (name website) */
/*******************************/

.navbar .wrapper-header .navbar-brand{
  @include rem(margin, 0 0 0 0);
  @include rem(font-size, 24px);
  padding: 0;
  height: auto;
  line-height: inherit;
  @include respond-to(small) {
    @include rem(margin-top, 20px);
  }
}

/****************************/
/* My account hack in menu */
/**************************/

.no-text {
 font-size:0 !important;
}

.no-text:before {
 font-size:16px;
}




