


.container-fullwidth {
  padding: 40px 0 40px 0;
}

.container-fullwidth.navbar {
  padding: 0 0 0 0;
}

.main-container.container-fullwidth {
  padding: 0 0 0 0;
}



/*****************/
/* ROW1 SETTINGS*/
/***************/


.container-fullwidth.row1 {
  h1{
    margin-top: 0;
  }
}

.row1r { 
  .panel-pane {
    width: 100%;
    float: left;
  }
}





/*******************/
/* BOXES SETTINGS */
/*****************/

/**
 * Basic styles for boxes (remove the bullets)
 * We use boxes instead of blocks
 */

.boxes-box-controls {
  li {
  	list-style: none;
  }
}

/*******************/
/* PANEL SETTINGS */
/*****************/

.panel-content {
  .panel-pane {
    @include rem(margin-bottom, 40px);
  }
}

/*******************/
/* SIDEBAR REGION */
/*****************/

.sidebar-right {
 
  .date:before {
    content: none;
  }
  .panel-pane{
    @include rem(padding, 15px); 
    @include rem(margin, 0 0 30px 0);
    background: $light-grey;
    border: 1px solid darken($light-grey, 10%);
  }
}

/******************/
/* SLIDER REGION */
/****************/

.content-slider-wrapper .region {
  padding: 0;
}





