/***************/
/* CONTAINERS */
/*************/

.container-fullwidth {
  padding: 0 0 0 0;
  .container {
    padding: 30px 15px 30px 15px;
  }
}

.front .container-fullwidth.row2 .container-fullwidth {
  padding: 0 15px 0 15px;
}


.container-top .container {
  padding: 0;
}


.container-fullwidth.navbar {
  .container {
    padding-top: 0;
  }
}


.front .container.row1,
.front .container.row2 {
  background: #fff;
}

.front .container.row1 {
  padding-top: 15px;
  padding-bottom: 0px;
}



section.container-fullwidth {
  @include rem(padding, 0);
}

.container-fullwidth.navbar,
.main-container.container-fullwidth {
  padding: 0 0 0 0;
}

.not-logged-in.page-user .container {
  @include rem(padding-bottom, 30px);
}

.not-logged-in.page-user .container-top .container {
  @include rem(padding-bottom, 0px);
}

/***************/
/* NAVIGATION */
/*************/

.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
  @include rem(margin, 0 0 20px 0);
  @include rem(padding, 0 0 20px 0);
  color: $text-color;
}

/*

.navbar-header {
  float: left;
  width: 20%;
}

.navbar-collapse {
  float: left;
  width: 80%;
}

*/

.container-fullwidth.row3 {
  @include rem(padding-top, 0);
}


/*****************/
/* ROW1 SETTINGS*/
/***************/


.container-fullwidth.row1 {
  h1{
    margin-top: 0;
  }
}

/* float to allow margin on group-buttons for responsiveness */

.row1r { 
  .panel-pane {
    width: 100%;
    float: left;
  }
}

.row1 .group-right .field-group-div {
  width: 100%;
  float: left;
}

/*******************/
/* BOXES SETTINGS */
/*****************/

/**
 * Basic styles for boxes (remove the bullets)
 * We use boxes instead of blocks
 */

.boxes-box-controls {
  li {
  	list-style: none;
  }
}

/*******************/
/* PANEL SETTINGS */
/*****************/

.panel-content {
  .panel-pane {
    @include rem(margin-bottom, 40px);
  }
}

/*******************/
/* SIDEBAR REGION */
/*****************/

.sidebar-right {
  a {
    color: $text-color;
  }

  h2.pane-title{
    @include rem(margin, 15px 15px 15px 15px);
  }

  .date:before {
    content: none;
  }
  .panel-pane{
    @include panel;
    h3 {
      @include rem(margin-top, 0);
      @include rem(padding, 0 0 10px 0);
      border-bottom: 1px solid $mid-grey;
    }
  }
  .panel-pane > .pane-content {
    @include rem(padding, 0 15px 15px 15px);
    h2.pane-title {
      @include rem(margin, 15px 0 25px 0);
    }   
  }
}

.pane-event-date-location {
  @include rem(padding, 15px);
}


/******************/
/* SLIDER REGION */
/****************/

.content-slider-wrapper .region {
  padding: 0;
}

/*

div.panel-pane div.view-mode-teaser_w_pic {
  padding:15px 0 15px 0;
  border-bottom: 5px solid #666;
  .group-left, .group-right {
    padding-left: 0;
    padding-right: 0;
  }
}

*/

.view-user-groups .views-bootstrap-grid-plugin-style > .row {
  @include rem(padding, 20px 0 20px 0);
}




div.panel-pane div.row{
  margin-left: -15px;
  margin-right: -15px;
}




/* Override from panels */ 















