// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}





/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*, *::before, *::after {
  box-sizing: inherit;
}

/********************** **/
/* Basic styles content */
/***********************/

a {
  color: $brand-color;
  text-decoration: none;
  @include on-event {
    text-decoration: underline;
  }
}

p {
  @include rem(margin-bottom, 20px);
}

p:last-child {
  @include rem(margin-bottom, 20px);
}

/* Makes the images responsive */

img {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

/**
 * Basic styles for headers
 * @include on-event does: &:hover, &:active, &:focus
 */

h1 {
  color: $dark-grey;
  font-family: $text-font-stack;
}

h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
  text-transform: uppercase;
  @include rem(margin-bottom, 20px);
  a {
    color: darken($text-color, 2%);
    font-weight: bold;
    font-family: $text-font-stack;
    text-transform: none;
    @include transition(color .3s ease);
    @include on-event {
      text-decoration: none;
    }
  }
}

h4 {
  @include rem(padding, 0 0 0 0);
  @include rem(margin, 0 0 0 0);
}

h2, h3{
  margin-top: 0;
}

h2.pane-title {
  font-weight: normal;
  @include rem(font-size, 24px);
  @include rem(padding, 0 0 15px 0);
  @include rem(margin, 0 0 20px 0);
  @include rem(border-bottom, 1px solid $text-color);
}

h4 a {
  font-weight: normal;
}

/* hack to make long content in dropdownbox work */

.dropdown-menu>li>a {
  white-space: normal;
  word-break: break-word;
  line-height: 18px;
}


/******* */
/* TABS */
/***** */

.nav-tabs{
  border-bottom: none;
}

/*********************** */
/* No padding for lists */
/********************* */


.nopadding {
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    @include rem(padding, 15px 0 15px 0);
    @include rem(border-bottom, 1px solid #ebebeb);
    a {
      color: $text-color;
    }
  }
  li.views-row-first {
    padding-top: 0;
  }
  li.views-row-last, .last {
    border-bottom: none;
  }
}

.wrapper-date-vote-comment{
  .date{
    font-family: $text-font-stack;
    text-transform: inherit;
  }
}

/***********************************/
/* DEFAULT MARKUP FOR CONTENTTYPE */
/**********************************/

/* all text elements white for row1 */

.container-fullwidth.row1{
  color: #fff;
  a {
    color: #fff;
    @include on-event {
    color: #fff;
    }
  }
  h1, h2, h3, p, div {
    color: #fff;
  }
  h2.pane-title {
    border: none;
    margin: 0;
  }
}


/**
 * default settings for (new) contenttype
 */

.not-front{
  @include contenttype($mid-grey, wrench);
  @include teaser($mid-grey);
  @include rem(padding, 0);
}

/**
 * settings for different (existing) content types 
 */

/* idea */
body.page-ideas, body.node-type-ideas {
  @include contenttype($idea-color, lightbulb-o);
}

.node-teaser.node-ideas {
  @include teaser($idea-color);
  /* @include rem(padding, 30px 0 30px 0); */
  h3:before {
    @include icon-node-teaser($idea-color, lightbulb-o);
    @include rem(padding, 6px 0 0 11px);
    @include rem(font-size, 24px);
  }
}

.node-ideas {
  h3:before {
    @include icon-node-teaser($idea-color, lightbulb-o);
    @include rem(padding, 6px 0 0 11px);
    @include rem(font-size, 24px);
  }
}


/* future */
body.page-futures, body.node-type-future {
  @include contenttype($future-color, rocket);
}

.node-teaser.node-future{
  @include teaser($future-color);
}

.node-future {
  h3:before {
    @include icon-node-teaser($future-color, rocket);
    @include rem(padding, 8px 0 0 8px);
    @include rem(font-size, 18px);
  }
}


/* group */
body.node-type-futurium-group {
  @include contenttype($group-color, group);
}

.node.node-futurium-group {
  @include teaser($group-color);
}

.node-futurium-group {
  h3:before {
    @include icon-node-teaser($group-color, group);
    @include rem(padding, 8px 0 0 8px);
    @include rem(font-size, 18px);
  }
}

/* events */
body.page-events, body.node-type-event-d4eu {
  @include contenttype($event-color, calendar);
}

.node-teaser.node-event-d4eu{
  @include teaser($event-color);
}

.node-event-d4eu {
  h3:before {
    @include icon-node-teaser($event-color, calendar); 
    @include rem(padding, 8px 0 0 9px);
    @include rem(font-size, 18px);
  }
}


/* evidence */
.html.page-library, .node-type-evidence {
  @include contenttype($library-color, file-text-o);
}

.node-evidence {
h3:before {
    @include icon-node-teaser($library-color, file-text-o);
    @include rem(padding, 8px 0 0 10px);
    @include rem(font-size, 18px);
  }
}

.node-teaser.node-evidence {
  @include teaser($library-color);
}




/* user */
.page-user{
  @include contenttype($greenblue, user);
  .row1 h1:before {
    content: none; /* remove icon on page-user */
  }
}

/**
 * Activity stuff
 */

.activity-message.attending:before {
  @include fa(user-plus);
}

.activity-message.liked:before {
  @include fa(thumbs-up);
}

.activity-message.new-content:before {
  @include fa(plus-square);
}

.activity-message.new-comment:before {
  @include fa(comment);
}


/* theming for stream */


.field-type-taxonomy-term-reference {
  .field-item {
    display: inline-block;
    @include rem(padding, 0 10px 0 0);
  }
}

.field-type-entityreference {
  .field-item {
    @include rem(border-bottom, 1px dashed $mid-grey);
    @include rem(padding, 10px 0 10px 0);
  }
}



/* Buttons */



.btn:not(.diff-revisions .btn){
  @include btn-default($mid-grey);
}

a.facebook:before {
    @include fa(facebook);
}

a.twitter:before {
    @include fa(twitter);
}

a.google-plus:before {
    @include fa(google-plus);
}

a.btn-more:before {
   @include fa(plus);
}

.like-count:before {
  @include fa(thumbs-up);
}

.date:before {
  @include fa(clock-o);
}

.comment-count:before {
  @include fa(comment);
}

.attending-count:before {
  @include fa(male);
}

.member-count:before {
  @include fa(user);
}

.location-city:before {
  @include fa(map-marker);
}

.flag-outer-attending a:before {
  @include fa(user-plus);
}

.more-link a:before {
  @include fa(plus);
}

.flag-like a:before {
  @include fa(thumbs-up);
}

/* menu add content */

.add-group a:before {
  @include fa(group);
  min-width: 10%;
}

.add-future a:before {
  @include fa(rocket);
  min-width: 10%;
}

.add-idea a:before {
  @include fa(lightbulb-o);
  min-width: 10%;
}

.add-evidence a:before {
  @include fa(file-text-o);
  min-width: 10%;
}


.add-event a:before {
  @include fa(calendar);
  min-width: 10%;
}

/* rating */

ul.rate-fivestar-processed{
  @include rem(padding, 0 0 0 0);
}

.futurium-rate-desirability:before {
  @include fa(thumbs-up); 
}

.futurium-rate-impact {
  @include fa(smile-o); 
}

.futurium-rate-feasibility {
  @include fa(balance-scale);
}


.intro{
  @include rem(margin, 0 0 25px 0);
}

.row1 {
  .intro {
    @include rem(font-size, 20px);
    @include rem(line-height, 26px);
  }
  .pane-rate-widget, .group-user-fields {
    @include rem(padding, 20px);
    @include rem(margin, 0 0 20px 0);
  }
}

.pane-node-field-time-horizon{
  @extend .pane-rate-widget;
}

.node-type-ideas .pane-rate-widget {
  background: darken($idea-color, 10%);
}

.node-type-future .pane-node-field-time-horizon, 
.node-type-future .pane-rate-widget {
  background: darken($future-color, 10%);
}

.group-user-fields{
  background: darken($user-color, 10%);
}


/* views-row border management */

.view-group-content {
  @include views-row-border;
}

div.panel-pane div.node-teaser { /* div.panel-pane to override panel.css */
  @include rem(padding, 30px 0 30px 0); 
  border-bottom: 5px solid #d7d7d7;
}

div.panel-pane div.views-row:first-child {
  div.node-teaser {
    @include rem(padding, 0 0 30px 0);
  }
}

div.panel-pane div.row:last-child,
div.panel-pane div.views-row:last-child,
div.panel-pane li.views-row:last-child
 {
  div.node-teaser {
    border-bottom: none;
  }
}

/* icons for date - vote - comment */

.wrapper-date-vote-comment {
  @include rem(margin, 15px 0 20px 0);
  .field {
    display: inline-block;
    @include rem(margin, 0 30px 10px 0);
  }
}

.field-name-author {
 /* @include rem(font-size, 18px); */
  @include rem(margin, 20px 0 0 0);
  @include rem(padding, 0 0 15px 0);
  @include rem(border-bottom, 1px solid #ccc);
}

.node-event-d4eu .date{
  @extend .field-name-author;
}

.page-ideas, .page-libarary, .page-events{
  h1.no-icon {
    background: none;
    padding: 0 0 0 0;
  }
}

.summary {
  @include rem(font-size, 16px);
  @include rem(line-height, 24px);
  font-weight: 600;
  @include rem(margin, 0 0 20px 0);
}


/*
 * Temp fix 
 */
.views-row.nowrap {
  white-space: normal;
}

.authors-picture img {
  border-radius: 50%;
  shape-outside: border-box;
  float: left;
  border: 5px solid #fff;
  width: 60px;
  height: 60px;
}

.list-inline {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  li {
    @include rem(padding, 0 5px 5px 0);
  }
}


.authors-name, .authors-picture, .share-links li {
    float: left;
  }

.pane-futurium-isa-extras-node-social-share {
  .pane-content {
    float: left;
  }
}


/******** **/
/* people */
/*********/

.view-people, .view-group-people, .view-revisions, .view-events{
  div.views-row {
    @include rem(margin, 0 0 20px 0);
  }
  
  /*
  .views-row-container {
    @include make-row(0);
  }

  */

  .views-row, .views-row-container {
    @include make-row(0);
  }  

  .left {
    @extend .col-xs-2;
    padding: 0;
  }
  .middle {
    @extend .col-xs-6;
    padding: 0;
  }
  .right {
    @extend .col-xs-4;
    text-align: right;
    padding: 0;
  }
}



.front{
  .view-people{
    .right {
       @extend .col-xs-10;
       text-align: left;
    }
  }
}

.page-people {
  
  .views-row-container {
    background: $light-grey;
    border: 1px solid darken($light-grey, 10%);
    @include rem(padding, 15px);
    @include rem(margin, 0 0 30px 0);
    position: relative;
  }
}

.view-group-people .col {
  background: $light-grey;
  border: 1px solid darken($light-grey, 10%);
  @include rem(padding, 15px);
  @include rem(margin, 0 0 30px 0);
}

/*****************
/* view-user-groups
/******************/

.view-user-groups {
  .views-row {
    @include rem(margin, 0 0 20px 0);
  }
}

/*************/
/* Comments */
/*************/

.comment, .indented {
  @include rem(margin, 0 0 40px 0);
}

.indented {
  @include rem(margin, 20px 0 0 20px);
}

.wrapper-author-date {
  @include rem(margin, 0 0 20px 0);
  vertical-align: baseline;
  .field {
    display: inline-block;
    @include rem(margin, 0 25px 0 0);
    @include rem(padding, 0 0 0 0);
  }
  .field-name-author{
    border-bottom: none;
  } 
}

.comment {
  .links {
    float: right;
    clear: both;
  }
  .field-name-ds-user-picture img, .views-field-picture img {
    @include round-userpicture;
  }
}


.field-name-comment-body {
  border: 1px solid #ccc;
  @include rem(padding, 20px);
  @include rem(margin, 0 0 20px 0);
}

/**********/
/* USER  */
/********/

.sidebar-right {
  .views-field-picture img {
    @include round-userpicture;
  }
}


/*****************/
/* USER PROFILE */
/***************/


/* create background for menu tabs on page-user and page-group */

.logged-in.page-user:not(.page-user-edit), .node-type-futurium-group {
  .container-fullwidth.row2 {
    background: url(../assets/img/bg-user-menu.gif) left top;
    background-repeat: repeat-x;
    @include rem(min-height, 50px);
    @include rem(padding, 0);
  }
}

.view-user-group-members {
  .views-row {
    display: inline-block;
    clear: right;
    @include rem(margin, 10px 10px 0 0);
  }
}

.page-user .container-fullwidth.row2:only-child {
  background: none;
}

.group-user-fields {
  .field-label {
    min-width: 40%;
  }
  .field-items {
    width: 55%;
  }
}

/* TEMP TEMP STUF */

/******************/
/* VIEW MESSAGES */
/****************/

#views-exposed-form-messages-block-2 {
  display: none;
}

body .view-messages {
  h3 {
    margin-bottom: 0;
  }
  .nopadding li {
    border: none;
  }
  .nopadding li.views-row-first {
    @include rem(padding-top, 15px);
  }
  div.view-mode-teaser {
    padding-top: 0;
  }
}

/***********/
/* EVENTS */
/***********/

/* Event details block (address, ...) */

.pane-event-date-location {
  @include panel /* gives the panel markup, bg, border, padding */
}

.street-block > div {
  display: inline-block;
  @include rem(margin, 0 5px 0 0);
}

.events-pane {
  .pane-content {
    @include rem(margin, 15px 0 10px 0);
  }
  .field-name-field-coordinates {
    .field-label {
      @include rem(margin, 0 0 10px 0);
    }
  }
}

.navbar-default {
  border: none;
}



/**************/
/* REVISIONS */
/************/

body.html table .diff-revision {
  a {
    color: $link-color;
  }
}

table tr.error {
    color: $text-color;
}

.page-node-revisions {
  section [class="container"]{
   @include rem(padding-bottom, 20px);
  }
}

/********************************/
/* NEEDS TO MOVE TO COMPONENTS */
/******************************/

.media-element-container {
  @include rem(margin, 0 0 20px 0);
  background: #fff;
  .field-name-field-caption {
    color: $mid-grey;  
    @include rem(font-size, 14px);
    @include rem(padding, 5px 10px 5px 10px);
    font-style: italic;
  }
}



/* STUFF FOR THE LINKER MODULE */


/* hide button from preview */
.preview {
  .flag-outer-attending .flag-link-toggle{
    display: none;
  }
}

/* settings for previewing content before linkinsg */
div.panel-pane .preview .node{
  @include rem(margin, 0 0 20px 0);
  @include rem(padding, 20px);
  background: #000;
  opacity: 0.5;
  z-index: 10;
  border:10px solid red;
}

.autocomplete-suggestion.node-type-future:before, 
.view-node-relations .future:before,
.futures-count:before
{
  @include fa(rocket);
}

.autocomplete-suggestion.node-type-ideas:before, 
.view-node-relations .ideas:before,
.ideas-count:before
{
  @include fa(lightbulb-o);
}

.autocomplete-suggestion.node-type-event_d4eu:before, 
.view-node-relations .event_d4eu:before {
  @include fa(calendar);
}

.autocomplete-suggestion.node-type-evidence:before, 
.view-node-relations .evidence:before{
  @include fa(file-text-o);
}

span.futures-count,
span.ideas-count,
span.comment-count {
  margin-right: 15px;
}

.btn-add-relation:before {
  @include fa(link);
}

#node-preview{
  .node-teaser {
    @include rem(padding, 15px);
    background: $light-grey;
    border: 1px dashed $midmid-grey;
    @include rem(margin, 0 0 15px 0);
  }
}

/* END STUFF FOR THE LINKER MODULE */

.row2l{
  .panel-pane{
    @include rem(margin, 0 0 30px 0);
  }
}

.bootstrap-panels-horizontal-tabs {
  @extend .col-lg-12;
  .container{
    padding: 0;
  }
}


.page-taxonomy {
  .content-wrapper{
    margin-left: -15px;
    margin-right: -15px;
  }
  .node-teaser{
    @include rem(margin, 30px 0 0 0);
  }  
}


.date a {
  @include rem(font-size, 15px);
  text-transform: uppercase;
  font-family: $header-font-stack;
}

/**********************/
/* CUSTOM ERROR PAGE */
/********************/


/*

.page-customerror > section > .container {
  @include rem(padding, 20px 15px 20px 15px);
  min-height: 80vh;
}


section > .content-wrapper {
  min-height: 80vh;
}

*/



.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -800px; /* the bottom margin is the negative value of the footer's height */
}

.footer.container-fullwidth, .push {
  height: 800px;
}

/*************/
/* CAROUSEL */


.carousel-control {
  width: 5%;
  height: 100%;
}

.carousel-control.left,
.carousel-control.right {
  width: 70px;
}

.carousel-control.left {
  background-image: linear-gradient(to left, rgba(0,0,0,0.0001) 0%, rgba(0,0,0,0.05) 100%);
}

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0%, rgba(0,0,0,0.05) 100%);
}


/* show icon when hover */

.glyphicon-chevron-right:hover:before {
  content: "\e080";
}

.glyphicon-chevron-left:hover:before {
  content: "\e079";
}

/* position carousel indicators */

.carousel-indicators {
  bottom: 5px;
}

.image-wrapper{
  height: 338px;
}

.shadow {
  opacity: 0.1;
  position: absolute;
  min-height: 350px;
  width: 1170px;
  margin: 0;
  bottom: 0;
  left: 0;
  background: #000;
}

.shadow-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-45%);
  padding: 10px 100px 10px 100px;
  z-index: 20;
  text-align: center;
  @include respond-to(small) {
    top: 46%;
  }
  h1 {
    font-weight: bold;
    color: #fff;
    @include rem(font-size, 36px);
    font-family: $header-font-stack;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include respond-to(small) {
      @include rem(font-size, 24px);
    }
  }
  a {
    @include on-event {
      text-decoration: none;
    }
  }
}

/**********/
/* STATS */
/********/

.stats-block {
  @extend .col-xs-6;
  @include rem(padding, 0 0 30px 0);
}

 






/* TEMP STUFF --- TEMP STUFF */


#path a, #path a:visited {
  color: #fff;
  text-decoration: none;
  border: 0;
}



