// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */


/////////////
/////TESTING 
/////////////


html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */

a {
  color: $brand-color;
  text-decoration: none;
  @include on-event {
    text-decoration: underline;
  }
}

p {
  @include rem(margin-bottom, 20px);
}

p:last-child {
  @include rem(margin-bottom, 20px);
}

/**
 * Makes the images responsive
 */
img {
 /* display: block; */
  max-width: 100%;
  height: auto;
}

/**
 * Basic styles for headers
 * @include on-event does: &:hover, &:active, &:focus
 */
h1 {
  color: $dark-grey;
  font-family: $text-font-stack;
}


  h2, h3, h4, h5, h6 {
    font-family: $header-font-stack;
    text-transform: uppercase;
    a {
     color: darken($text-color, 2%);
     font-weight: bold;
     font-family: $text-font-stack;
     text-transform: none;
     @include transition(color .3s ease);
     @include on-event{
       text-decoration: none;
     }
    }
  }

h2 {
  @include rem(margin-bottom, 20px);
}

h3 {
  @include rem(margin-bottom, 20px);
}

h4 {
  @include rem(padding, 0 0 0 0);
  @include rem(margin, 0 0 0 0);
}


h2.pane-title{
  border-bottom: none;
  @include rem(font-size, 30px);
}

.sidebar-right{
  h2.pane-title{
    font-weight: normal;
    @include rem(font-size, 24px);
    @include rem(padding, 0 0 15px 0);
    @include rem(margin, 0 0 0 0);
    @include rem(border-bottom, 1px solid $text-color);
  }
}





h4 a{
  font-weight: normal;
}

.panel-content{
  .panel-pane{
    @include rem(margin-bottom, 40px);
  }
}


/// No padding for lists


.nopadding {
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    @include rem(padding, 20px 0 20px 0);
    @include rem(border-bottom, 1px solid #ebebeb);
    a{
      color: $text-color;
    }
  }
  li.views-row-last{
    border-bottom: none;
  }
  .date{
    font-family: $header-font-stack;
    @include rem(font-size, 15px);
    text-transform: uppercase;
  }
}

#path a, #path a:visited {
  color: #fff;
  text-decoration: none;
  border: 0;
}

/**
 * Basic styles for boxes (remove the bullets)
 * We use boxes instead of blocks
 */
.boxes-box-controls {
  li {
  	list-style: none;
  }
}


/**
 * Equal height solution
 * Add a .row-eq-height on the view 
 */

/*

 .row-eq-height .row, .row-eq-height .row > div[class*='col-'] {  
  @include flexbox();
  @include respond-to(small) {
  	display: block; // unset display flex;
  }
  @include respond-to(medium) {
  	display: block; // unset display flex;
  }
}

.view-ideas .row {
  overflow: hidden;
}

*/




.field-type-taxonomy-term-reference {
  .field-item {
    display: inline-block;
    @include rem(padding, 0 10px 0 0);
  }
}




.media-element-container {
	@include rem(margin, 0 0 20px 0);
	background: #fff;
 .field-name-field-caption {
   color: $mid-grey;  
   @include rem(font-size, 14px);
   @include rem(padding, 5px 10px 5px 10px);
   font-style: italic;
 }
}



.group-buttons{
  a{
   /* @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border); */
   color: #fff;
  }
} 

.group-buttons > div{
  display: inline-block;
  a{
    @include rem(margin, 0 5px 0 0);
  }
}

.field-type-entityreference {
  .field-item {
    @include rem(border-bottom, 1px dashed $mid-grey);
    @include rem(padding, 10px 0 10px 0);
  }
}

.container-fullwidth {
  padding: 40px 0 40px 0;
}

.container-fullwidth.navbar {
  padding: 0 0 0 0;
}


/* default settings for row1 */

.container-fullwidth.row1 {
  background: #a4a4a4;
  h1, h2, h3, p, a{
    color: #fff;
  }
}

.container-fullwidth.row1 {
  h1{
    margin-top: 0;
  }
}

.row1r{
  .panel-pane{
    width: 100%;
    float: left;
  }
}


/**
 * settings for different content types 
*/

.page-ideas, .node-type-ideas {
  @include contenttype($idea-color);
}

.page-events, .node-type-event-d4eu {
  @include contenttype($event-color);
}

.page-library {
  @include contenttype($library-color);
}

/* social buttons in header */





a.facebook:before {
    @include fa(facebook);
}

a.twitter:before {
    @include fa(twitter);
}

a.google-plus:before {
    @include fa(google-plus);
}

a.btn-more:before {
   @include fa(plus);
}

.like-count:before {
  @include fa(thumbs-up);
}

.date:before {
  @include fa(clock-o);
}

.comment-count:before {
  @include fa(comment);
}

.attending-count:before {
  @include fa(male);
}

.location-city:before {
  @include fa(map-marker);
}

.flag-outer-attending a:before {
  @include fa(user-plus);
}

.more-link a:before{
  @include fa(plus);
}

.intro{
  @include rem(margin, 0 0 25px 0);
}

.row1 {
  .intro {
    @include rem(font-size, 20px);
    @include rem(line-height, 26px);
  }
}

div.views-bootstrap-grid-plugin-style {
  div.node-teaser {
    @include rem(padding, 20px 0 40px 0);
  }
}


/* icons for date - vote - comment */

.wrapper-date-vote-comment {
  @include rem(margin, 20px 0 30px 0);
  .field {
    display: inline-block;
    @include rem(margin, 0 30px 0 0);
  }
}

.field-name-author{
  @include rem(font-size, 18px);
  @include rem(padding, 0 0 20px 0);
  @include rem(border-bottom, 1px solid #ccc);
}




.page-ideas h1{
  background: url(../assets/img/ico-idea-big-color.png) left top no-repeat;
  padding: 0 0 0 90px;
  min-height: 64px;
  margin: 0 0 20px 0;
}

.page-ideas, .page-libarary, .page-events{
  h1.no-icon{
    background: none;
    padding: 0 0 0 0;
  }
}

.page-library h1{
  background: url(../assets/img/ico-library-big-color.png) left top no-repeat;
  padding: 0 0 0 90px;
  line-height: 64px;
}

.page-events h1{
  background: url(../assets/img/ico-event-big-color.png) left top no-repeat;
  padding: 0 0 0 90px;
  min-height: 64px;
}


.summary {
  @include rem(font-size, 16px);
  @include rem(line-height, 24px);
  font-weight: 600;
  @include rem(margin, 0 0 20px 0);
}





/**
 * Temp fix 
 */
.views-row.nowrap {
  white-space: normal;
}

.authors-picture img {
  border-radius: 50%;
  shape-outside: border-box;
  float: left;
  border: 5px solid #fff;
  width: 60px;
  height: 60px;
}

.list-inline {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.authors-name, .authors-picture, .share-links li {
    float: left;
  }

.pane-futurium-isa-extras-node-social-share {
  .pane-content {
    float: left;
  }
}

.sidebar-right {
  background: $light-grey;
  @include rem(padding, 15px);
  .date:before{
    content: none;
  }
}

/* Comments */

.comment, .indented {
  @include rem(margin, 0 0 40px 0);
}

.indented {
  @include rem(margin, 20px 0 0 20px);
}

.wrapper-author-date{
  @include rem(margin, 0 0 20px 0);
  vertical-align: baseline;
  .field{
    display: inline-block;
    @include rem(margin, 0 25px 0 0);
    @include rem(padding, 0 0 0 0);
  }
  .field-name-author{
    border-bottom: none;
  } 
}

.comment {
  .links {
    float: right;
    clear: both;
  }
}

.field-name-ds-user-picture img{
  border-radius:50%;
  overflow:hidden;
}

.field-name-comment-body {
  border: 1px solid #ccc;
  @include rem(padding, 20px);
  @include rem(margin, 0 0 20px 0);
}
  




@include respond-to(large) {
  .row1 {
    display: flex;
    flex-direction: row;
    height: 100%;
    .row1l {
      align-self: flex-start;
    }
    .row1r {
     /* align-self: flex-end; */
     align-self: flex-end;
    } 
  }
}


.street-block > div {
  display: inline-block;
  @include rem(margin, 0 5px 0 0);
}

.events-pane{
  .pane-content{
    @include rem(margin, 15px 0 10px 0);
  }
  .field-name-field-coordinates{
    .field-label{
      @include rem(margin, 0 0 10px 0);
    }
  }
}
